* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

:root {
    --mainColor: #002f87;
    --accentColor: #ab0033;
}

.main, .sides, .drinks {
    cursor: pointer;
}

/* Header Section */
.logo {
    padding-top: 15px;
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: block;
    background: var(--mainColor);
    width: 100%;
}

.header h1 {
    font-size: 40px;
    padding: 20px;
    margin: 0 0 2px 0;
    text-align: center;
    color: white;
}

/* Header Section */



/* Second Header */
.secondHeader {
    margin: 2px 0 0 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background: var(--accentColor);
}

/* Second Header */



/* Select Section */
.selectArea {
    width: 70%;
    margin: 10px 0 0 0;
    display: block;
    float: left;
}

.wrapper {
    height: 100px;
    margin: 5px;
    padding: 30px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    border-radius: 20px;
    color: var(--mainColor);
    border: 3px solid var(--accentColor);
    background: rgb(241, 241, 241);
}

/* Select Section */



/* Receipt Section */
.receiptSection {
    width: 30%;
    display: block;
    float: left;
    background: rgb(214, 214, 214);
    border-left: 2px solid grey;
}

.receiptSection h3 {
    text-align: center;
    padding: 15px 0 0 0;
}

/* Receipt Section */



/* Bottom Section */

/* Bottom Section */