* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --mainColor: #002f87;
    --accentColor: #ab0033;
}

/* Header Section */
.logo {
    padding-top: 15px;
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: block;
    background: var(--mainColor);
    width: 100%;
}

.header h1 {
    font-size: 40px;
    padding: 20px;
    margin: 0 0 2px 0;
    text-align: center;
    color: white;
}

/* Header Section */



/* Second Header */
.secondHeader {
    margin: 2px 0 0 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background: var(--accentColor);
}

/* Second Header */



/* Select Section */

/* Select Section */



/* Receipt Section */

/* Receipt Section */



/* Bottom Section */

/* Bottom Section */