* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

:root {
    --mainColor: #002f87;
    --accentColor: #ab0033;
}

.main, .sides, .drinks {
    cursor: pointer;
}

/* Header Section */
.logo {
    padding-top: 25px;
    width: 200px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: block;
    background: var(--mainColor);
    width: 100%;
}

.header h1 {
    font-size: 40px;
    padding: 20px;
    margin: 0 0 2px 0;
    text-align: center;
    color: white;
}

/* Header Section */



/* Second Header */
.secondHeader {
    margin: 2px 0 0 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background: var(--accentColor);
}

/* Second Header */



/* Select Section */
.selectArea {
    width: 70%;
    margin: 60px 0 0 100px;
    display: block;
    float: left;
}

.wrapper {
    height: 125px;
    margin: 15px;
    padding: 40px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    color: var(--mainColor);
    border: 3px solid var(--accentColor);
    background: rgb(241, 241, 241);
}

/* Select Section */



/* Receipt Section */
.receiptSection {
    width: 30%;
    height: 1000px;
    display: block;
    float: right;
    background: rgb(214, 214, 214);
    border-left: 3px solid var(--mainColor);
}

.receiptSection h1 {
    text-align: center;
    padding: 25px 0 0 0;
    color: var(--mainColor);
}

.receiptSection #submitButton {
    width: 100%;
    height: 60px;
    font-size: 26px;
    border: 2px solid var(--accentColor);
    border-radius: 8px;
    color: #002f87;
    margin: 20px 0 ;
    position: absolute;
    top: 675px;
}

.item {
    color: rebeccapurple;
}

.receiptHead {
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    margin-bottom: 10px;
}

#receipt {
    width: 100%;
    margin-left: 10%;
}

#receipt .row {
    font-size: 24px;
    margin-bottom: 5px;
}

.col-md-6 {
    background: rgba(184, 184, 184, 0.438);
}

.quantity {
    color: var(--mainColor);
    width: 30px;
    font-size: 18px;
    background: rgb(219, 219, 219);
    text-align: center;
    margin: 3px;
    border: 1px solid var(--accentColor);
    border-radius: 30px;
}

.deleteButton {
    font-size: 18px;
    width: 30px;
    margin: 3px;
    font-weight: bold;
    border: 1px solid var(--accentColor);
    color: var(--mainColor);
    margin: 3px;
    position: relative;
    left: -75px;
    border-radius: 20px;
}

/* Receipt Section */



/* Bottom Section */

/* Bottom Section */